ffmpeg_python==0.2.0
ipython==8.12.3
matplotlib==3.8.4
numpy==2.2.4
opencv_python==4.11.0.86
pandas==2.2.3
plotly==6.0.1
scipy==1.15.2
seaborn==0.13.2
tinkerforge==2.1.31
tqdm==4.67.1
ultralytics==8.3.105
